

body{
    margin: 0;
    background-color: #ffffff;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
   
   
}

.gradient-text {
  background: linear-gradient(to bottom right, #43d9ff 40%, #ff05bc 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
}
.photo:hover{
    scale: 1.1;
}
.photo{
    border-radius: 50%;
    border:1px solid rgb(4, 4, 4);
   -webkit-box-shadow: 
  -3px 4px 60px -7px #ff54b2, 
  3px -4px 40px -10px rgb(0, 217, 255),   
  -2px -2px 30px -5px rgb(0, 170, 255); 

-moz-box-shadow: 
  -3px 4px 60px -7px #ff54b2, 
  3px -4px 40px -10px rgb(0, 217, 255), 
  -2px -2px 30px -5px rgb(0, 170, 255);

box-shadow: 
  -3px 4px 60px -7px #ff54b2,    
  3px -4px 40px -10px rgb(0, 217, 255),   
  -2px -2px 30px -5px rgb(0, 170, 255); 
    object-fit: cover;
    height: 30vw;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.049);
    backdrop-filter: blur(25px);
    color: #ffffff;
    padding: 2vh;
    position: sticky;
    top:0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.129);
    
}
.flex-0{
    display: flex;
    justify-content:center;
    gap: 5px;
    align-items: center;
   
}

.flex{
    display: flex;
    justify-content:space-between;
    padding: 2px 25px;
    align-items: center;
   
}
.flex3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.flex1{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2px;
    text-align: start;
}
.flex-contact{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}
.flex2{
    display: flex;
    border: 1px solid #454545;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    flex-wrap: wrap;

    
}
.flex2 a,.flex1 a{
    text-decoration: none;
    color: #454545;
    
}

.fnt{
    font-size: 65px;
}
.fnt1{
    font-size: 30px;
}
.mx a{
    
    text-decoration: none;
    font-size: 18px;
    color: #838383;
    cursor: pointer;
}
a:active,.sidebar a:active{
    color: #43d9ff;
    text-decoration: underline;
}
.height{
    
    text-align: center;
}
.wdth{
    font-size: 20px;
        width: 60vw;
    text-align:start;
    
    box-shadow: 0 5px 15px rgb(0, 69, 99);

    background: linear-gradient(to bottom right, #43d9ff17 40%, #ff05bc11 68%);
      padding: 50px 40px;
      margin: 30px auto;
      border-radius: 25px;
    border:1px solid rgb(0, 69, 99);
    
      
}

.hide{
    display: none;
    
}
ul{
    padding: 3px;
}
.heading{
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 150px;
   

} 

.border{
    box-shadow: 0 5px 15px rgb(0, 69, 99);
    border:1px solid rgb(0, 69, 99);
    background: linear-gradient(to bottom right, #43d9ff17 40%, #ff05bc11 68%);


}

.border,.formcls input,.formcls textarea,.btn{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(35, 34, 34);
    
    

}

.border:hover,.box:hover,.resume-btn:hover,.formcls:hover,.con:hover{
    transform: scale(1.03);
}

.flex-col{
    padding: 2px 38%;
}
.con{
    width: 40%;
    padding: 20px 10px;
    box-shadow: 0 5px 15px rgb(0, 69, 99);
    border-radius: 10px;
    border:1px solid rgb(0, 69, 99);
    background: linear-gradient(to bottom right, #43d9ff17 40%, #ff05bc11 68%);    
}

.btn{
     word-wrap: break-word;
    margin: 15px auto;
    font-size: 15px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 8px;
}

#skills,#connect{
   
    padding: 20px 40px;
    margin: 7px auto;
    
}
#connect{
    margin-bottom: 10px ;
}
.imgpr{
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 15px;
border-top-right-radius: 15px;
cursor: pointer;

}
.imgpr:hover{
   transform: scale(0.98);
}

.box
{
    border:1px solid rgb(0, 69, 99);
    background: linear-gradient(to bottom right, #43d9ff17 40%, #ff05bc11 68%);
    
    border-radius: 15px;
    width: 30%;
    text-align: justify;
    box-shadow: 0 5px 15px rgb(0, 69, 99);

   
}
.txt{
    padding: 15px 15px;
    
}
.resume-btn{
    border:1px solid rgb(0, 69, 99);
    box-shadow: 0 3px 10px rgb(0, 69, 99);
cursor: pointer;
    color: #fff;
    margin: 15px auto;
    font-size: 15px;
   background-color: #f2f2f20c;
    padding: 10px;
    border-radius: 5px;

   
}

@media (max-width: 700px){
    .logo{
        font-size: 22px;
    }
    .flex3{
        flex-flow: column;
    }
    .con,.formcls
    {
        width: 80%;
    }
    .fnt{
    font-size: 40px;
}
.fnt1{
    font-size: 24px;
}
.wdth{
    font-size: 17px;
    text-align:start;
    text-wrap: wrap;
}
#side{
    width: 20px;
}
.flex{
    /* flex-wrap: wrap; */
  flex-flow: wrap;
  gap: 20px;
  justify-content:space-around;
}
.box{
    width: 80%;
    margin-bottom: 10px;

}

}



.atag{
    text-decoration: none;
    cursor:pointer;
}
@media (min-width:701px) and (max-width: 900px){
    
    .fnt{
    font-size: 45px;
}
.fnt1{
    font-size: 25px;
}
.wdth{
    font-size: 18px;
    text-align:start;
}
.flex{
    /* flex-wrap: wrap; */
  flex-flow: wrap;
  gap: 20px;
  justify-content:space-around;
  
}
.box{
    width: 55%;
    margin-bottom: 10px;

}
.flex3{
    flex-direction: column;
}
.con
    {
        width: 50%;
    }
}

.sidebar{
  
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  background-color: #7e7e7e4b;
  position: fixed;
   margin-top: 105px;
   z-index: 100;
  
 
}
.mt{
    margin-top: 100px;
}
.sidebar a{
    color: rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    padding: 12px;

}

